<div class="app-header header sticky">
  <div class="container-fluid main-container">

    <div class="d-flex">
      <a class="header-brand" href="/dashboard">
        <img src="/assets/images/brand-logos/desktop-logo.png" class="header-brand-img" alt="logo">
      </a>

      <a class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>

      <div class="d-flex ms-auto header-right-icons">
        <div class="dropdown d-md-flex">
          <a class="nav-link icon" data-bs-toggle="dropdown">
            <i class="fe fe-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="/logout">Salir</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
